div(ng-switch="build.status.type")
  div.alert.alert-default(ng-switch-when="pending") Pending
  div.alert.alert-info(ng-switch-when="running") Running
  div.alert.alert-success(ng-switch-when="succeeded") Succeeded
  div.alert.alert-danger(ng-switch-when="failed") Failed
  div.alert.alert-default(ng-switch-default) Unknown

pre {{build|json}}

pre.console(ng-show="output") {{output}}
