form(ng-submit="run()")
  div.form-group
    label(for="dockerfile") Dockerfile
    textarea#dockerfile.form-control(rows="15", placeholder="FROM ubuntu:14.04", ng-model="dockerfile")
  button.btn.btn-primary(type="submit") Run build
