nav
  ul.nav.nav-pills.pull-right
    li(role="presentation"): a(href="/") Builds
    li(role="presentation"): a(href="/jobs") Jobs
    li(role="presentation"): a(href="/login", ng-hide="user") Login
    li(role="presentation"): a(href="/logout", ng-show="user") Logout
h3.text-muted coreci
