nav
  ul.nav.nav-pills.pull-right
    li(role="presentation"): a(href="/") Home
    li(role="presentation"): a(href="/builds/create") Create build
    li(role="presentation"): a(href="/login", ng-hide="user") Login
    li(role="presentation"): a(href="/logout", ng-show="user") Logout
h3.text-muted coreci
